*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	width: 100vw;
	height: 100vh;
	display:flex;
	justify-content: center;
	background-color: #659c9a;
}
.content-container{
	display: flex;
	box-sizing: border-box;
	background-color: #659c9a;
	width: 70%;
	margin: 5%;
	box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
header{
	background-color: #659c9a;
	width: 32.5%;
	height: 99.9%;
	display: flex;
	align-items: center;
	transform: skewX(169.5deg) translateX(70px);
}
main{
	height: 100%;
	background-color: #FEBA33;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: none;
	width: 90%;
}
.login-form{
	background-color: #FFFBF5;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 38%;
	height: 50%;
	border: 1px solid grey;
	border-radius: 0.5rem;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
	gap: 1rem;
}
.banner-img{
	height: 75%;
	transform: skewX(-169.5deg) translateX(-70px);
}
.form-title-container{
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid grey;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
	padding: 3%;
}
.form-title{
	color: #7743DB;
	font-size: 1.2rem;
}
.form-subtitle{
	color: grey;
	font-size: 0.8rem;
}
.help-link{
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}
.help-link:hover{
	border-bottom:1px solid #7743DB;
}
.input-area{
	width: 60%;
	height: 100%;
	border: none;
	border-bottom: 1px solid black;
}
.user-input{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}
.input-logo{
	width: 1.5rem;
	height: 1.5rem;
}
.login-button{
	align-self: center;
	width: 60%;
	height: 12%;
	background-color: #7743DB;
	color: #FFF;
	border: none;
	cursor: pointer;
	font-weight: 550;
	padding-bottom:1rem;
}
.forgot{
	align-self: center;
	display: flex;
	gap: 0.5rem;
	padding: 5%;
}

@media only screen and (max-width:1182px) {
	.content-container{
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	header{
		justify-content: center;
		align-items: center;
		transform: skewX(180deg);
		flex-shrink: 1;
	}
	.banner-img{
		transform: none;
		height: 20rem;
		width: 20rem;

	}
	main{
		padding-bottom: 1rem;
		width: 100%;
		height: 100%;
		
	}
	.login-form{
		height: 80%;
		width: 80%;
	}
	.login-button{
		margin-bottom: 1rem;
	}
	
}
